*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0; /*Eliminamos el margen para que se ajsute a la pantalla completa el contenido*/
}
/*Contenedor que agrupa a search-bar, menu-bar, features-bar*/
header{
    display: flex;
    flex-direction: column;
}

/*Eliminación del punto de las listas*/
ul{
    list-style: none;
}
/*Eliminación del subrayado de los enlaces*/
ul li a {
    text-decoration: none;
}

/*Contenedor del logo y la barra de búsqueda*/
.search-bar{
    display: flex;
    position: relative;
    height: 14vh;
    align-items: center;
    background-color: cadetblue;
}

.logo{
    position: absolute;
    left: 2vw;
}

.logo-img{
    height: 11vh;
}

/*Search bar*/
.search-box{
    position: absolute;
    right: 5vw;
}

/*Contenedor del menú*/
.menu-bar{
    background-color: aquamarine;
}
/*Menu de opciones, ul en flex*/
.menu{
    display: flex;
    flex-direction: row;
    gap: 18vw;
    justify-content: center;
    height: 3vh;
    text-align: center;    

}

/*Menu-inicio*/
/*Referencia a submenu-inicio, exlusivamente cuando su padre (menu-inico), tenga el ratón encima (hover)*/
/* Estilo de cada elemento principal del menú */
.menu > li {
    position: relative; /* Mantiene a cada elemento en su lugar sin afectar a los demás */
}

/* Submenú: inicialmente oculto */
.submenu-inicio, .submenu-productos, .submenu-nosotros, .submenu-contacto {
    display: none;
    position: absolute;
    top: 100%; /* Coloca el submenú justo debajo del elemento padre */
    left: 0;
    background-color: aquamarine;
    width: max-content; /* Ajusta el ancho del submenú según el contenido */
    padding-top: 1vh; /* Ajusta según lo necesario */
}

/* Al hacer hover sobre el elemento principal del menú, se muestra el submenú */
.menu-inicio:hover .submenu-inicio,
.menu-productos:hover .submenu-productos,
.menu-nosotros:hover .submenu-nosotros,
.menu-contacto:hover .submenu-contacto {
    display: block;
}

nav a{
    padding-bottom: 4vh;

}

/*Menu-contacto*/
/*Referencia a submenu-contacto, exlusivamente cuando su padre (menu-contacto), tenga el ratón encima (hover)*/
.menu-contacto:hover .submenu-contacto{
    display: block;
    position: relative;
    border: 0;


}
.submenu-contacto{
    display: none; /*Hace que no se vea a simple vista*/
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1vh;

}

/*Ul de las características de la página en flex*/
.feature-list{
    display: flex;
    flex-direction: row;
    gap: 18vw;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}