* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Estilos de el cuerpo*/
.container {
    margin-left: 5%;
    margin-top: 3%;
    max-inline-size: 90%;
}
.descripcion{
    display: flex;
    align-items: top;
    gap: 2em;
}
.img-marca img{
    width: 10em;
}

/*Estilos de la sección de productos*/
.form-group {
    margin-top: 1em;
    margin-bottom: 2em;
}

/*Menu vertical*/
.menu-vertical {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    justify-content: justify;
    height: auto;
    width: 50vh;
    height: fit-content;
    text-align: center;
    background-color: var(--main-color);

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul a {
    display: block;
    color: rgb(0, 0, 255);
    padding: 6px 10px;
    box-sizing: border-box;
    color: var(--bg-color);
}

nav ul ul {
    height: 0px;
    overflow: hidden;
}

nav ul li ul li a {
    margin-left: 10px;
}

nav ul li:hover ul {
    height: auto;
}

.filtro {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-left: 10px;
}

/*Estilos del footer*/
/*Marcas colaboradoras (Prenatal)*/
.active-colaboradora {
    text-align: center;
}

.contenedor-prenatal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
}

.contenedor-marcas-colaboradoras > p {
    margin-top: 6vh;
    /*Lo separo de las opiniones*/
    font-size: 2.5vw;
    font-weight: bold;
}

.agrupacion-prenatal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e72b6f;
    height: 15vw;
}

.contenedor-prenatal {
    display: flex;
    flex-direction: row;
}

.logos-prenatal {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-top: 1.5vh;
}

/*Footer*/
/*Agrupa a todo el footer, aplicamos display-flex*/
footer {
    display: flex;
    flex-direction: column;
    padding: 1.5vh;
}

/*Contenedor que agrupa a ayuda,servicios...*/
.contenedor-footer-principal {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12vw;
}

/*Aplicamos estilos a los párrafos*/
/*Título de ayuda, servicios...*/
.contenedor-footer-principal .active {
    text-align: center;
    color: #333333;
    font-weight: bold;
    font-size: 1.3vw;
    margin-bottom: 0.9vw;
}

.contenedor-footer-principal p {
    font-size: 1vw;
    margin-bottom: 0.4vw;
    color: #5c5c5c;
}

/*Simulacion de enlace, a los p del contenedor principal de footer*/
.contenedor-footer-principal p:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Contenedor de los metodos de pago y plataformas de descarga para la app*/
.contenedor-descarga-pago {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    gap: 17vw;
    justify-content: center;
}

/*Contenedor de las plataformas de descarga de la app*/
.descarga {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 15vh;
}

.iconos-descarga {
    position: absolute;
    left: 0.01vw;
    top: 4.5vh;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}

.iconos-descarga img:hover {
    cursor: pointer;
}

/*Contenedor de los metodos de pago*/
.metodos-pago {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    position: relative;
}

.iconos-metodos-pago {
    position: absolute;
    top: 4.5vh;
    left: 0.1vw;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 10em;
}
#juguetes-contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;;
}

.juguete {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  max-width: 200px;
  text-align: center;
}

.juguete img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.juguete h3 {
  font-size: 1.2em;
  margin: 8px 0;
}

.juguete span {
  font-weight: bold;
  color: #e91e63;
}